<%= form_with(model: @article, local: true) do |form| %>

  <div class="field">
    <%=form.label :commenter %>
    <%=form.text_field :commenter %>
  </div>

  <div class="field">
    <%=form.label :body %>
    <%=form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div></br>



<%end%>
