<nav class="nav bg-light padding">
  <li class="nav-item">
    <%= link_to "Start", root_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Articles", articles_path, class:"nav-link" %>
  </li>

  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "Writte", new_article_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My profil", perfil_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Leave", destroy_user_session_path, method: :delete, class:"nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Log in", new_user_session_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Registry", new_user_registration_path, class:"nav-link" %>
    </li>

  <% end %>
</nav>
